<% @title = "Dashboard"%>
  

<div class="columns large-6">
	<div class="floating-module">
		<h3 class="floating-title">Projects</h3>
		<hr>
		<%= render 'projectlist'%>
	</div>
</div>

<div class="columns large-6">
	<div class="floating-module">
		<h3 class="floating-title">Clients</h3>
		<hr>
		<%= render 'projectlist'%>
	</div>
</div>

<div class="columns large-6">
	<div class="floating-module">
		<h3 class="floating-title">Messages</h3>
		<hr>
		<%= render 'projectlist'%>
	</div>
</div>
