$red: #f05555;
 $light-grey : #939090;
 $black : #2f2f2f;
 $blue : #333645;
 $purple : #AB00FF;
 $bright-blue : #7596FF;
 $white : #fff;
 $green : #5fcf80;
 $off-white: #EBEBEB;
/*Date picker*/

.projects{
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 5px;
}
#ui-datepicker-div{
	border-radius: 0px;
}

.ui-widget-content {
    border: none !important;
    background: #ffffff !important;
    color: #222222 !important;
}

.ui-widget-header {
    border: none !important;
    color: $white !important;
    background: $blue !important;
}

.ui-corner-all{
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.ui-state-default {
  background: none !important;
  border: none!important;
  text-align: center !important;
  height: 25px;
  width: 25px;
  font-size: 13px;
}

#ui-datepicker-div tbody tr:nth-child(even) {
    background-color: transparent !important;
}

.ui-datepicker th {
    font-size: 13px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: $red !important;
    color: $white !important;
    border-radius: 50%;
}

.ui-state-active{
	background: $green !important;
	color: $white !important;
  border-radius: 50%;
}

.ui-widget-header .ui-icon {
    background-image:image-url('ui-icons-jquery.png') !important;
}

.ui-icon-circle-triangle-w {
    background-position: -95px -14px !important;
}

.ui-icon-circle-triangle-e {
    background-position: -31px -14px !important;
}

a.ui-state-hover.ui-datepicker-prev-hover,
a.ui-state-hover.ui-datepicker-next-hover{
  background:transparent !important;
  border:none !important;
  padding: 0px !important;
}

a.ui-state-hover.ui-datepicker-next-hover{
  right: 2px !important;
}
a.ui-state-hover.ui-datepicker-prev-hover{
  left: 2px !important;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
   top: 2px !important;
}

.projects label{
  display: inline;
}

.project-details{
  font-size: .8em;
  color: $light-grey;
  font-style: italic;
  font-weight: bold;
}

.calendar{
  width: 175px;
  margin: auto;
  display: block;
  height: auto;
  border: 1px solid $off-white;
  border-radius: 5px 5px 5px 5px;
}

.calendar span{
  font-size: 5em;
  text-align: center;
  font-weight: bold;

}

.calendarHead{
  background-color: $red;
  color: $white;
  text-align: center;
  font-size: 1.5em;
  border-radius: 5px 5px 0px 0px;

}

.project-completion-date{
  text-align: center;
  font-weight: 600;
   color: $light-grey;
}

.project-edit a{
  color: $light-grey;
  font-size: .5em;
  opacity: 0.8;
}

.project-edit a:hover,
.project-edit a:focus,
.project-edit a:active{
  color: $blue;
  opacity: 1;
  outline: none;
}













