<h4>Project Uploads <span><%= link_to '<i class="fa fa-upload"></i>'.html_safe, new_upload_path(project_id: @project.id) %></span></h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% uploads.each do |upload| %>
      <tr>
        <td><%= link_to upload.name, upload_path(upload) %></td>
        <td><%= s3_link Tenant.current_tenant_id, upload.key %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>